body {
    padding: 0;
    margin: 0;
}

.box {
    overflow-x: hidden;
    font-family: inherit;
    height: 83vh;
    font-family: sans-serif;
    background: #ffffff !important;
    border-radius: 17px;
    margin: 5%;
}

.row {
    overflow: auto;
    background-image: url('../App_image/Dung/chi-nhanh-chi-tiet/background.jpg');
    position: fixed;
    width: 102%;
    height: 88%;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.text-red {
    font-size: 36px;
    color: #893F3F;
    padding: 2% 0;
}
@font-face {
    font-family: 'Roboto-Regular';
    src: url('../fonts/Roboto-Regular.ttf') format('truetype');
}

.base {
    overflow-y: hidden;
    margin-top: 9%;
    margin-bottom: 17%;
    width: inherit;
}

.nd {
    font-weight: 600;
    font-size: 39px;
    padding: 3%;
    display: flex;
    position: relative;
    justify-content: center;
}

.block-nd {
    display: flex;
}
/**/


    .block-nd p {
        font-size: 31px;
        font-weight: 600;
    }

.img {
    width: 100%;
    height: 30%;
    margin-left: 1px;
}
