.base {
    overflow: hidden;
    margin-top: 9%;
    height: 108rem;
    margin-bottom: 17%;
    width: inherit;
    background-color: #E9E9E9;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: aliceblue;
    padding: 0;
    margin: 0;
}
.block-menu2 {
    font-size: 43px;
    display: flex;
    padding: 1%;
    /* border-bottom: 2px solid #8080804a; */
    justify-content: space-between;
    align-items: center;
}

.table1 {
    background-color: white;
    padding: 1%;
}

    .table1 input {
        text-align: center;
        width: 326px;
        height: 60px;
        border: 3px solid #e74d68;
    }
.container_form {
    margin-bottom: 21px;
    overflow: hidden;
}

tbody {
    display: flex;
    flex-direction: column;
}

.container_table1,
.container_table2 {
    height: 301px;
    line-height: 106px;
    background-color: #FFFFFF;
    /* border-bottom: 1px solid black; */
    padding: 10px;
    margin: 2%;
    width: 96%;
    box-shadow: 5px 5px 2px 2px #dcd7d7;
}

.container_table2 {
    height: 41rem;
    overflow: auto;
}

th {
    padding-top: 12px;
    padding-bottom: 12px;
    text-align: left;
    background-color: #04AA6D;
    color: white;
}

td {
    text-align: left;
    font-size: 40px;
    padding: 10px;
    color: #4c3333;
    /* margin: 28px; */ /* background-color: pink; */
}

.container_footer {
    display: flex;
    width: 100%;
    height: 185px;
    line-height: 114px;
    background-color: #ffffff;
    margin: 40px 0px;
    font-size: 47px;
    font-weight: bolder;
    padding: 30px;
    color: black;
    box-shadow: 5px 5px 2px 2px #dcd7d7;
    flex-direction: column;
}

.tbdb {
    width: 132px;
    /* margin-top: -20px; */
    /* display: flex; */
    border-right: none;
    border-top: none;
    border-left: none;
    border-bottom: 1px solid gray;
    text-align: center;
}
.container_table2 input {
    text-align: center;
    width: 68px;
    height: 60px;
    border: 3px solid #e74d68;
}
.button_dat {
    /* margin-right: 3%; */
    width: 97%;
    font-size: 43px;
    height: 5rem;
    background-color: #f34d64;
    padding: 5px;
    border: none;
    color: white;
    font-weight: 600;
}

.contaner_footer {
    box-shadow: 10px 10px -2px #000000;
}

.footer-top {
    display: flex;
    justify-content: space-between;
}
.thongtin {
    font-size: 52px;
    padding: 4%;
    background-color: bisque;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}
.footer-bottom {
    display: flex;
    justify-content: space-between;
    /* margin: 70px 0px; */
}

    .footer-bottom input {
        /* margin-left: -80px; */
        background-color: #F3D1DC;
        width: 279px;
        text-align: center;
        border: none;
    }

.footer-top img {
    float: right;
    width: 35px;
    margin: 16px;
}
.button_dichvu {
    margin: 1%;
    display: flex;
    /* margin-right: 3%; */
    width: 91%;
    font-size: 43px;
    height: 5rem;
    background-color: #4d7cf375;
    padding: 5px;
    border: none;
    color: white;
    font-weight: 600;
    box-shadow: 5px 5px 2px 2px #dcd7d7;
    align-items: center;
    justify-content: center;
}

.button_mau {
    margin: 1%;
    /* margin-right: 3%; */
    width: 91%;
    display: flex;
    font-size: 43px;
    height: 5rem;
    background-color: #4df3a366;
    padding: 5px;
    border: none;
    color: white;
    font-weight: 600;
    box-shadow: 5px 5px 2px 2px #dcd7d7;
    align-items: center;
    justify-content: center;
}

.block-btn {
    display: flex;
}
.block-menu {
    font-size: 39px;
    display: flex;
    padding: 1%;
    border-bottom: 2px solid #8080804a;
    justify-content: space-between;
    align-items: center;
}
