
body {
    padding: 0;
    margin: 0;
    /*background-image: url('../App_image/GioiThieu/gioithieu_nen.png');*/
    background-image: url('../App_image/GioiThieu/gioithieu_nen.png');
    overflow: hidden;
}

.container_form {
    padding: 20px;
    display: flex;
    padding-bottom: 10px;
}

.base {
    overflow-y: hidden;
    margin-top: 2%;
    margin-bottom: 17%;
    width: inherit;
}

.container_slider_left {
    width: 40%;
}

h5 {
    color: #795548;
    padding: 7px 0px;
    font-size: 29px;
    /* margin: 14px; */
}

.slider_left_thongtinlienhe div {
    margin-top: 10px;
    font-size: 26px;
    font-weight: bolder;
}

.slider_left_thongtinlienhe img {
    width: 60px;
    border-radius: 30px;
    margin-right: 10px;
}

.container_slider_left > img {
    width: 370px;
}

.slider_left_theodoitoi img {
    width: 50px;
    margin: 10px;
}

.container_slider_right {
    width: 60%;
    margin: 200px 0px 30px 27px;
}

.hinhanhkhachhang_header span {
    font-size: 27px;
}

.hinhanhkhachhang_header img {
    width: 40px;
    margin: 0 10px 10px 0;
}

.hinhanhkhachhang_img img {
    width: 230px;
    margin: 20px 20px 30px 0;
    height: 200px;
}

.hinhanhkhachhang_img{
    margin-right:50px;
}

    .hinhanhkhachhang_img b {
        font-size: 50px;
        border: none;
        color: #e46070;
        line-height: 41px;
        margin-top: -270px;
        margin-left: 522px;
    }

.hinhanhkhachhang_danhgia {
    width: 100%;
    background-image: url('../App_image/GioiThieu/bacgroud-hinh.png');
    margin: 20px 0px;
    background-size: cover;
    border-radius: 50px;
    display: flex;
    padding: 10px;
}

    .hinhanhkhachhang_danhgia img {
        width: 125px;
        height: 85px;
        border-radius: 36px;
        margin: 20px;
    }

.danhgia_thongtin {
    margin-right: 10px;
    font-size: 18px;
}

.bottom {
    float: left;
    border-radius: 50px;
    width: 57%;
    height: 350px;
    margin-left: 20px;
}

.container_slider_bottom span {
    font-size: 30px;
    padding: 17px;
    border-radius: 11px;
    background-color: #f87b91;
    margin-left: 26px;
}

.bottom1 {
    width: 39%;
    height: 350px;
    border-radius: 50px;
    float: right;
}

.ribbon {
    margin-left: 21px;
    position: fixed;
    padding: 0 0.5em;
    font-size: 2.000em;
    line-height: 1.875em;
    color: #e6e2c8;
    border-radius: 0 0.156em 0.156em 0;
    background-color: #FA83A9;
    box-shadow: -1px 2px 3px rgba(0,0,0,0.5);
}

    .ribbon:before, .ribbon:after {
        position: absolute;
        content: '';
        display: block;
    }

    .ribbon:before {
        width: 0.469em;
        height: 100%;
        padding: 0 0 0.438em;
        top: 0;
        left: -0.469em;
        background: inherit;
        border-radius: 0.313em 0 0 0.313em;
    }

    .ribbon:after {
        width: 0.313em;
        height: 0.313em;
        background: rgba(0,0,0,0.35);
        bottom: -0.313em;
        left: -0.313em;
        border-radius: 0.313em 0 0 0.313em;
        box-shadow: inset -1px 2px 2px rgba(0,0,0,0.3);
    }

@media (max-width: 600px) {

    body {
        font-size: 0.875em;
    }

    .ribbon {
        line-height: 1.143em;
        padding: 0.5em;
    }

        .ribbon:before, .ribbon:after {
            font-size: 0.714em;
        }
}

.slider_right_danhgiakhachhang {
    overflow: auto;
    height: 20rem;
}

.owl-carousel p {
    font-size: 32px;
    color: white;
    background-color: #fa83a9;
    border-radius: 5px;
}
