body {
    padding: 0;
    margin: 0;
}

.base {
    overflow-y: hidden;
    margin-top: 0%;
    margin-bottom: 17%;
    width: inherit;
}
/*.navbar {
    width: 100%;
    background-color: #F3D1DC;
    font-size: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #893F3F;
    font-weight: bold;
    padding:24px;
}*/
.container_thongtinkhachhang {
    width: 100%;
    height: 100%;
    margin: 0;
}

.header1 {
    height: 250px;
    background-color: #EBB6B6;
    width: 100%;
}

.header_add {
    position: relative;
    font-size: 25px;
    font-weight: bold;
    width: 100%;
}

    .header_add .name {
        margin-top: 82px;
    }

.header_hang {
    position: absolute;
    top: 140px;
    left: 242px;
    height: 30px;
    width: 118px;
    background-color: #d13838;
    border-radius: 19px;
    display: flex;
    justify-content: center;
    text-align: center;
    font-size: 19px;
    font-weight: bold;
    color: #D2CFCA;
}

.header1 img {
    margin: 20px;
    width: 200px;
    height: 200px;
    border-radius: 100px;
}

.header_icon p img {
    width: 75px;
    height: 75px;
    top: 67px;
    right: -12px;
    position: absolute;
}

.content_header1,
.content_header2 {
    width: 100%;
    height: 130px;
    border-bottom: 1px solid #d48888;
    overflow-x: scroll;
    font-size: 30px;
    display: flex;
    justify-content: space-between;
}

    .content_header1 span,
    .content_header2 span {
        padding: 40px;
        display: flex;
        justify-content: space-between;
    }

.content_header1-baiviet {
    float: right;
}

.content_header-baiviet img {
    right: 0px;
    width: 30px;
    height: 30px;
    margin: 8px 28px;
}

.content_tinhtrangdonhang {
    width: 100%;
    height: 200px;
    background-color: #F8FAFB;
    margin-top: 4px;
    padding-left: 36px;
    display: flex;
    padding-top: 10px;
}

.tinhtrangdonhang_khung {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 35%;
}

    .tinhtrangdonhang_khung img {
        display: flex;
        padding-left: -40px;
        align-content: center;
        align-items: center;
    }

    .tinhtrangdonhang_khung span {
        font-size: 32px;
        font-weight: bold;
        display: flex;
        align-content: center;
        align-items: center;
    }

.content_thietlap_khovoucher {
    height: 160px;
    display: flex;
    width: 100%;
    line-height: 125px;
    justify-content: space-between;
    align-items: center;
}

    .content_thietlap_khovoucher i {
        padding: 2%;
        font-size: 40px;
        color: #a9a4a461;
    }
    .content_thietlap_khovoucher span {
        font-size: 41px;
    }

    .content_header1 span:active {
        width: 50%;
        border-bottom: 10px solid pink;
        font-size: 37px;
        font-weight: bolder;
        color: pink;
        text-align: center;
    }
